<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Seus metadados e estilos aqui -->
</head>
<body>
    <div class="geral">
        <header class="topo">
            <h1>Bem-vindo ao Backoffice</h1>
        </header>

        <div class="principal">
            <div class="nav">
                <nav>
                    <a href="/funcionarios" >
                        <button class="btn">Funcionários</button>
                    </a>
                    <a href="cadastro" >
                        <button class="btn">Novo funcionário</button>
                    </a>
                    <a href="/products" >
                        <button class="btn">Lista de produtos</button>
                    </a>
                    <a href="/produto/cadastro">
                        <button class="btn">Novo produto</button>
                    </a>

                </nav>
            </div>

            <section>
                <figure>
                    <img src="img-logo/logo_PT4.png" alt="logo">
                </figure>
            </section>
        </div>
    </div>
</body>
</html>
