<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>SimpleFocals - Everyday Eyewear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/templatemo.css}" rel="stylesheet" />



    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!--

-->
</head>

<body>
<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                   href="https://www.sp.senac.br/">senac.com.br</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:083-000-9999">(11) 5682-7300</a>
            </div>
            <div>
                <a class="text-light" href="https://facebook.com" target="_blank" rel="sponsored"><i
                        class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i
                        class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i
                        class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                        class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" th:href="@{/admin}" href="#">
            PT IV

        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
             id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-center mx-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin}" href="#">CMS home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<!-- Close Header -->


<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Sistema de gerenciamento de conteúdo</h1>
        <p>
            Bem vindo ao Backoffice

        </p>
    </div>
</div>

<!-- Start Contact -->
<section >
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-8 m-auto mt-5">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="card shadow bg-white rounded" style="background-color:white;">
                            <div class="card-body">
                                <h4 class="card-title">Categoria</h4>
                                <p class="card-text">Gerencie a seção de categorias aqui</p>
                                <a href="#" th:href="@{/admin/categories}" class="card-link btn btn-success">Adicionar Categoria</a>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="card shadow bg-white rounded" style="background-color:white;">
                            <div class="card-body">
                                <h4 class="card-title">Produto</h4>
                                <p class="card-text">Gerencie a seção de produto aqui.</p>
                                <a href="#" th:href="@{/admin/products}" class="card-link btn btn-success">Adicionar Produto</a>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- col end -->

        </div>
    </div>
</section>
<!-- End Contact -->

<!-- Start Footer -->
<footer class="bg-dark fixed-bottom" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="w-100 bg-black py-3">
                <div class="container">
                    <div class="row pt-2">
                        <div class="col-12">
                            <p class="text-left text-light">
                                Copyright &copy; 2021 PI IV
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Start Script -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- End Script -->
</body>

</html>