<!DOCTYPE html>
<html lang="en">

<head>
    <title>SimpleFocals - Everyday Eyewear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!--

-->
</head>

<body>
<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                   href="mailto:christobelchan1@gmail.com">x20143087@student.ncirl.ie</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:083-000-9999">083-000-9999</a>
            </div>
            <div>
                <a class="text-light" href="https://facebook.com" target="_blank" rel="sponsored"><i
                        class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i
                        class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i
                        class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                        class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" th:href="@{/admin}" href="#">
            SimpleFocals
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
             id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-center mx-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin}" href="#">CMS home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<!-- Close Header -->


<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Content Management System</h1>
        <p>
            Categories
        </p>
    </div>
</div>

<!-- Start Contact -->
<section >
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-6 m-auto mt-5">
                <div class="card mb-3 shadow bg-white rounded">
                    <div class="card-body ">
                        <h1 class="h2 text-center">Add a Category</h1>
                        <br>
                        <form class="col-md-8 mb-3" th:action="@{/admin/categories/add}" method="post" th:object="${category}">
                            <input type="hidden" name="id" th:field="*{id}">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" required th:field="*{name}" name="name" id="name"
                                       placeholder="Enter name">
                                <br>
                                <button type="submit" class="btn-lg btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- col end -->

        </div>
    </div>
</section>
<!-- End Contact -->



<!-- Start Footer -->
<footer class="bg-dark fixed-bottom" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="w-100 bg-black py-3">
                <div class="container">
                    <div class="row pt-2">
                        <div class="col-12">
                            <p class="text-left text-light">
                                Copyright &copy; 2023
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Start Script -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- End Script -->
</body>

</html>