<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Accept a card payment</title>
  <meta name="description" content="A demo of a card payment on Stripe" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  <script th:inline="javascript">

    var stripePublicKey = /*[[${stripePublicKey}]]*/ null;
    var amount = /*[[${amount}]]*/ null;

  </script>
  <script src="/js/client.js" defer></script>
</head>

<body>
<!-- Display a payment form -->

<form id="payment-form">
  <p><b>Welcome to SimpleFocals Payments securely processed by Stripe</b></p>
  <p>You will be charged the amount of <b>€ <span th:text="${total}" id="amount">2</span></b> </p>
  <p>On transaction completion a confirmation email will be sent to <b><span id="email" th:text="${email}">2</span></b></p>
  <br>
  <!--  <input type="text" id="email" placeholder="Email address" readonly/>-->
  <div id="card-element"><!--Stripe.js injects the Card Element--></div>
  <button id="submit">
    <div class="spinner hidden" id="spinner"></div>
    <span id="button-text">Pay now</span>
  </button>
  <p id="card-error" role="alert"></p>
  <p class="result-message hidden">
    Payment succeeded, see the result in your
    <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
  </p>
  <a class="text-decoration-none" href="shop">Click here to return to shop.</a>
</form>
</body>
</html>
