<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>PT-IV</title>
  <meta name="description" content="A demo of a card payment on Stripe" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  <script th:inline="javascript">

  </script>
  <script src="/js/client.js" defer></script>
</head>

<body>
<!-- Display a payment form -->

<h1>Pagamento</h1>
<form action="/create-payment" method="post">
  <label for="amount">Amount:</label>
  <input type="text" id="amount" name="amount" required/>
  <button type="submit">Submit Payment</button>
</form>

</body>
</html>
