<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>SimpleFocals - Everyday Eyewear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">


    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!--

-->
</head>

<body>
<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none"
                   href="mailto:christobelchan1@gmail.com">x20143087@student.ncirl.ie</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:083-000-9999">083-000-9999</a>
            </div>
            <div>
                <a class="text-light" href="https://facebook.com" target="_blank" rel="sponsored"><i
                        class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/" target="_blank"><i
                        class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i
                        class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                        class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" th:href="@{/}" href="#">
            SimpleFocals
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
             id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">

                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" href="#">Admin</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}" href="#">home</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">logout</a>
                    </li>

                </ul>
            </div>
            <div class="navbar align-self-center d-flex">

                <!-- this is the cart icon  -->
                <a class="nav-icon position-relative text-decoration-none" sec:authorize="hasAuthority('CUSTOMER')" th:href="@{/cart}">
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"
                            sec:authorize="hasAuthority('CUSTOMER')" th:text="${cartCount}">0</span>
                </a>
                <!-- this is the profile icon -->
                <a class="nav-icon position-relative text-decoration-none" sec:authorize="hasAuthority('CUSTOMER')" th:href="@{/profile}"
                   href="#">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Header -->


<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Your Account</h1>

    </div>
</div>

<!-- Start Contact -->
<section >
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3 shadow bg-white rounded">
                    <div class="card-body">
                        <p class="h2 text-center">Your Login Details</p>
                        <br>
                        <div class="form-group">
                            <label for="firstName"><strong>First Name</strong></label>
                            <p class="form-control" th:text="${firstName}" id="firstName"></p>
                        </div>
                        <div class="form-group">
                            <label for="lastName"><strong>Last Name</strong></label>
                            <p class="form-control" th:text="${lastName}" id="lastName"></p>
                        </div>
                        <div class="form-group" >
                            <label for="email"><strong>Email</strong></label>
                            <p class="form-control" th:text="${email}" id="email"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card shadow bg-white rounded">
                    <div class="card-body">
                        <h1 class="h2 text-center">Personal Details</h1>
                        <form class="form-group">
                            <div th:if="${customerProfile != null}">
                                <div class="form-group">
                                    <label for="address"><strong>Address</strong></label>
                                    <p class="form-control" th:text="${customerProfile.address}" id="address"></p>
                                </div>
                                <div class="form-group">
                                    <label for="county"><strong>County</strong></label>
                                    <p class="form-control" th:text="${customerProfile.county}" id="county"></p>
                                </div>
                                <div class="form-group">
                                    <label for="postcode"><strong>Post Code</strong></label>
                                    <p class="form-control" th:text="${customerProfile.postcode}" id="postcode"></p>
                                </div>
                                <div class="form-group">
                                    <label for="lefteye"><strong>Prescription Left Eye</strong></label>
                                    <p class="form-control" th:text="${customerProfile.leftEye}" id="lefteye"></p>
                                </div>
                                <div class="form-group">
                                    <label for="righteye"><strong>Prescription Right Eye</strong></label>
                                    <p class="form-control" th:text="${customerProfile.rightEye}" id="righteye"></p>
                                </div>
                                <div class="form-group">
                                    <label for="prescription"><strong>Uploaded prescription</strong></label>
                                    <p class="form-control" th:text="${customerProfile.prescriptionImgName}" id="prescription"></p>
                                </div>
                                <div class="form-group">
                                    <a href="" th:href="@{/profile/update}" class="btn btn-success">Update Your Details</a>
                                </div>
                            </div>
                            <div th:if="${customerProfile == null}">
                                <a href="" th:href="@{/profile/add}" class="btn btn-success">Add more details to your profile</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact -->


<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">SimpleFocals</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        Mayor Street Lower, IFSC, Dublin 1
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">01-999-9999</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">x20143087@student.ncirl.ie</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Popular</a></li>
                    <li><a class="text-decoration-none" href="#">Best Sellers</a></li>

                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none" href="#">Contact</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank"
                           href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank"
                           href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 SimpleFocals
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<!-- Start Script -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- End Script -->
</body>

</html>