<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>PT-IV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!--

-->
</head>

<body>
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color: black;">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" th:href="@{/}" href="#">
            <img class="logo" src="/images/Logo_1.jpg" alt="logo jogo">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
             id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}" href="#"></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}" href="#" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/shop}" href="#" style="color: white;">Produtos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#" style="color: white;">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#" style="color: white;">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <!-- this is the cart icon  -->
                <a class="nav-icon position-relative text-decoration-none" sec:authorize="hasAuthority('CUSTOMER')" th:href="@{/cart}">
                    <i class="fa fa-fw fa-cart-arrow-down text-white mr-1"></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark" sec:authorize="hasAuthority('CUSTOMER')" th:text="${cartCount}">0</span>
                </a>
                <!-- this is the profile icon -->
                <a class="nav-icon position-relative text-decoration-none" sec:authorize="hasAuthority('CUSTOMER')" th:href="@{/profile}" href="#">
                    <i class="fa fa-fw fa-user text-white mr-3"></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Header -->


<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Sua conta</h1>
    </div>
</div>

<!-- Start Contact -->
<section>
    <div class="container">
        <div class="container pb-5">
            <div class="row">

                <div class="col-lg-5 mt-5">
                    <div class="card mb-3 shadow bg-white rounded">
                        <div class="card-body">
                            <p class="h2 text-center">Dados de login</p>
                            <br>
                            <div class="form-group">
                                <label for="firstName"><strong>Nome</strong></label>
                                <p class="form-control" th:text="${firstName}" id="firstName"></p>
                            </div>
                            <div class="form-group">
                                <label for="lastName"><strong>Sobrenome</strong></label>
                                <p class="form-control" th:text="${lastName}" id="lastName"></p>
                            </div>
                            <div class="form-group" >
                                <label for="email"><strong>Email</strong></label>
                                <p class="form-control" th:text="${email}" id="email"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 mt-5">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body">
                            <form th:action="@{/profile/add}" method="post" th:object="${customerProfileDTO}">
                                <input type="hidden" name="id" th:field="*{id}">
                                <h1 class="h2 text-center">Atualize seu endereço</h1>

                                <div class="form-group">
                                    <label for="cep"><strong>CEP</strong></label>
                                    <input type="text" class="form-control" required th:field="*{cep}" name="cep" id="cep" placeholder="CEP">
                                </div>

                                <div class="form-group">
                                    <label for="rua"><strong>Rua</strong></label>
                                    <input type="text" class="form-control" required th:field="*{rua}" name="rua" id="rua" placeholder="Rua">
                                </div>

                                <div class="form-group">
                                    <label for="numero"><strong>Numero</strong></label>
                                    <input type="text" class="form-control" required th:field="*{numero}" name="numero" id="numero" placeholder="Numero">
                                </div>

                                <div class="form-group">
                                    <label for="bairro"><strong>Bairro</strong></label>
                                    <input type="text" class="form-control" required th:field="*{bairro}" name="bairro" id="bairro" placeholder="Bairro">
                                </div>

                                <div class="form-group">
                                    <label for="cidade"><strong>Cidade</strong></label>
                                    <input type="text" class="form-control" required th:field="*{cidade}" name="cidade" id="cidade" placeholder="Cidade">
                                </div>

                                <div class="form-group">
                                    <label for="uf"><strong>UF</strong></label>
                                    <input type="text" class="form-control" required th:field="*{uf}" name="uf" id="uf" placeholder="UF">
                                </div>

                                <div class="form-group">
                                    <label for="logradouro"><strong>Logradouro</strong></label>
                                    <input type="text" class="form-control" th:field="*{logradouro}" name="logradouro" id="logradouro" placeholder="logradouro">
                                </div>

                                <button type="submit" class="btn btn-success">Salvar</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact -->

<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">PT-IV</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        Endereço: Av. Eng. Eusébio Stevaux, 823 - Santo Amaro, São Paulo - SP, 04696-000
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">11 94002-8922</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">ptiv@projeto.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Produtos</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Popular</a></li>
                    <li><a class="text-decoration-none" href="#">Mais vendidos</a></li>

                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Mais informações</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" href="#">Contato</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank"
                           href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank"
                           href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2023 PTIV
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<!-- Start Script -->
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/buscaCep.js"></script>

<!-- End Script -->
</body>

</html>